<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Bài đăng</h1>
                    <p class="mb-4">Tại đây, chúng tôi chia sẻ những kinh nghiệm thuê và cho thuê xe, 
                        mẹo lái xe an toàn, câu chuyện từ người dùng và cập nhật xu hướng ngành xe. 
                        Hy vọng bạn sẽ tìm thấy những thông tin hữu ích và thú vị. 
                        Cảm ơn bạn đã ghé thăm!</p>
                    <p><a href="/home" class="btn btn-secondary me-2">Khám phá</a>
                        <a href="/blognew" class="btn btn-white-outline">Viết bài</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/product/images/product-1.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <div class="post-entry">
                    <a href="/blog/blogdetail" class="post-thumbnail"><img src="/product/images/product-1.png" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="/blogdetail">First Time Home Owner Ideas</a></h3>
                        <div class="meta">
                            <span>by <a href="/blogdetail">Kristin Watson</a></span> <span>on <a href="/blogdetail">Dec 19, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- End Blog Section -->	

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Một vài đánh giá từ khách hàng</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span style="padding-top: 20px;" class="prev" data-controls="prev"><span
                                class="fa fa-chevron-left"></span></span>
                        <span style="padding-top: 20px;" class="next" data-controls="next"><span
                                class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tất cả đều tuyệt vời.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/person-1.png" alt="Dương Phan Hiếu Nghĩa"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Dương Phan Hiếu Nghĩa</h3>
                                            <span class="position d-block mb-3">Sinh viên đại học công nghệ thông
                                                tin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi không thuê và họ không lấy tiền của tôi, tôi hạnh phúc vì điều
                                                này.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/person-2.png" alt="Lê Thanh Tài"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Lê Thanh Tài</h3>
                                            <span class="position d-block mb-3">Sinh viên đại học công nghệ thông
                                                tin</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi thuê xe mặc dù có xe máy riêng.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/person-3.png" alt="Đặng Quốc Hưng"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Đặng Quốc Hưng</h3>
                                            <span class="position d-block mb-3">Sinh viên đại học công nghệ thông
                                                tin</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi đánh giá vì thấy mọi người đều làm vậy.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/person-4.png" alt="Trần Tiến Đạt"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Trần Tiến Đạt</h3>
                                            <span class="position d-block mb-3">Sinh viên đại học công nghệ thông
                                                tin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">
                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Đừng đặt xe của họ, nghiện đấy.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/product/images/person-5.png" alt="Vũ Vinh Hiển"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Vũ Vinh Hiển</h3>
                                            <span class="position d-block mb-3">Sinh viên đại học công nghệ thông
                                                tin</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->