
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="" />
	<meta name="author" content="Untree.co">
	<meta name="keywords" content="bootstrap, bootstrap4" />
	
	<link href="/product/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="/product/css/tiny-slider.css" rel="stylesheet">
	<link href="/product/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="/product/images/favicon.png">
	
	<title>EZB | Cho thuê</title>
	
	<style>
		.product-section .product-item .btn {
			color: white;
		}

		.product-section .product-item .star {
			color: rgb(243, 181, 25);
			font-size: 20px;
		}
	</style>
</head>

<body>
	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
		arial-label="EzBooking navigation bar">
		<div class="container">
			<!-- <a class="navbar-brand" href="index.html">EzBooking</a> -->
			<img src="/product/images/logo.png" alt="Logo" class="img-fluid" style="width: 20%; height: auto;">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsEzBooking"
				aria-controls="navbarsEzBooking" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

		    <div class="collapse navbar-collapse" id="navbarsEzBooking">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Trang chủ</a>
                    </li>
                    <li><a class="nav-link" href="/about">Về chúng tôi</a></li>
                    <li><a class="nav-link" href="/contact">Liên hệ</a></li>
                    <li><a class="nav-link" href="/shop">Cho thuê</a></li>
                    <li><a class="nav-link" href="/blog">Bài Đăng</a></li>
                    <li class="dropdown">
                        <a class="nav-link"><img src="/product/images/user.svg"></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li><a class="dropdown-item" href="/least">Đăng bài cho thuê</a></li>
                          <li><a class="dropdown-item" href="/vehicle">Quản lí xe cho thuê</a></li>
                          <li><a class="dropdown-item" href="/contract">Lịch sử họp đồng</a></li>
                          <li><a class="dropdown-item" href="/profile">Thông tin cá nhân</a></li>
                          <li><a class="dropdown-item" href="/login/out">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
		</div>
	</nav>
	<!-- End Header/Navigation -->

	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Các xe có sẵn</h1>
					</div>
				</div>

				<div class="col-lg-7">
					<div class="hero-img-wrap">
						<img src="/product/images/motorlogo.png" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->

	<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">
				<!-- Start Column 1 -->
				<div class="col-12 col-md-4 col-lg-4 mb-5">
					<a class="product-item" href="detailproduct.html">
						<img src="/product/images/product-2.png" class="img-fluid product-thumbnail">
						<span>Honda</span>
						<h3 class="product-title">Wave</h3>
						<div class="star">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<div class="d-flex justify-content-center mt-3 mb-3 gap-3">
							<div class="px-2">
								<i class="fa fa-solid fa-motorcycle text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">2019</span>
							</div>
							<div class="px-2">
								<i class="fa fa-cogs text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">Xe số</span>
							</div>
							<div class="px-2">
								<i class="fa fa-road text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">3000km</span>
							</div>
						</div>
						<div class="px-2 mb-3" style="align-items: center; display: flex; justify-content: center;">
							<i class="fa-solid fa-location-dot text-primary mr-1" style="font-size: 20px;"></i>
							<span style="font-size: 20px;">Thành phố Hồ Chí Minh</span>
						</div>
						<div class="text-center">
							<strong class="product-price btn btn-primary px-3">50.000₫/ 1 ngày</strong>
						</div>
					</a>
				</div>
				<!-- End Column 1 -->

				<!-- Start Column 2 -->
				<div class="col-8 col-md-4 col-lg-4 mb-5">
					<a class="product-item" href="detailproduct.html">
						<img src="/product/images/product-3.png" class="img-fluid product-thumbnail">
						<span>Honda</span>
						<h3 class="product-title">Dream</h3>
						<div class="star">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<div class="d-flex justify-content-center mt-3 mb-3">
							<div class="px-2">
								<i class="fa fa-solid fa-motorcycle text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">2016</span>
							</div>
							<div class="px-2">
								<i class="fa fa-cogs text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">Xe số</span>
							</div>
							<div class="px-2">
								<i class="fa fa-road text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">1000km</span>
							</div>
						</div>
						<div class="px-2 mb-3" style="align-items: center; display: flex; justify-content: center;">
							<i class="fa-solid fa-location-dot text-primary mr-1" style="font-size: 20px;"></i>
							<span style="font-size: 20px;">Tỉnh Bến Tre</span>
						</div>
						<div class="text-center">
							<strong class="product-price btn btn-primary px-3">100.000₫/ 1 ngày</strong>
						</div>
					</a>
				</div>
				<!-- End Column 2 -->

				<!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-4 mb-5">
					<a class="product-item" href="detailproduct.html">
						<img src="/product/images/product-4.png" class="img-fluid product-thumbnail">
						<span>Yamaha</span>
						<h3 class="product-title">Motor Version</h3>
						<div class="star">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<div class="d-flex justify-content-center mt-3 mb-3">
							<div class="px-2">
								<i class="fa fa-solid fa-motorcycle text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">2017</span>
							</div>
							<div class="px-2">
								<i class="fa fa-cogs text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">Xe côn</span>
							</div>
							<div class="px-2">
								<i class="fa fa-road text-primary mr-1" style="font-size: 20px;"></i>
								<span style="font-size: 20px;">10000km</span>
							</div>
						</div>
						<div class="px-2 mb-3" style="align-items: center; display: flex; justify-content: center;">
							<i class="fa-solid fa-location-dot text-primary mr-1" style="font-size: 20px;"></i>
							<span style="font-size: 20px;">Tỉnh Lâm Đồng</span>
						</div>
						<div class="text-center">
							<strong class="product-price btn btn-primary px-3">150.000₫/ 1 ngày</strong>
						</div>
					</a>
				</div>
				<!-- End Column 3 -->
			</div>
		</div>
	</div>


	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">
			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Liên kết mạng xã
							hội<span>.</span></a></div>
					<p class="mb-4">Giúp bạn có cái nhìn nhiều khía cạnh hơn về dịch vụ của chúng tôi.</p>

					<ul class="list-unstyled custom-social">
						<li><a href="https://www.facebook.com/"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="https://twitter.com/"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="https://www.instagram.com/"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="https://www.google.com/"><span class="fa fa-brands fa-google"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="contact.html">Liên hệ</a></li>
							</ul>
						</div>
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="blog.html">Bài đăng</a></li>
							</ul>
						</div>
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="about.html">Về chúng tôi</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. <br />Giao
							diện hỗ trợ <a href="https://untree.co">EzBooking</a> được chế tác bởi <a
								hreff="https://themewagon.com">Nhóm 2</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="/product/js/bootstrap.bundle.min.js"></script>
	<script src="/product/js/tiny-slider.js"></script>
	<script src="/product/js/custom.js"></script>
</body>

</html>