<div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="col-md-12">
          <div class="invoice-wrapper">
            <div class="intro">
              <strong>Hợp đồng cho thuê</strong>
              <br>
              Được bảo đảm bởi <strong>luật pháp</strong> và <strong>EzBooking</strong>
            </div>

            <div class="payment-info">
              <div class="row">
                <div class="col-sm-6">
                  <span>Mã số hợp đồng</span>
                  <strong>#1</strong>
                </div>

                <div class="col-sm-6 text-right">
                  <span>Ngày tạo hợp đồng</span>
                  <strong>1/1/2024 - 12:20</strong>
                </div>
              </div>
            </div>

            <div class="payment-details">
              <div class="row">
                <div class="col-sm-6">
                  <span>Bên thuê</span>

                  <strong>
                    Nguyễn Văn A
                  </strong>

                  <p>
                    162, đường số 18<br> 
                    Linh Trung<br>
                    Thủ Đức<br>
                    Tp.HCM<br>
                    0915.679.346<br>

                    <a href="https://mail.google.com/mail/u/0/#inbox">
                      <span class="__cf_email__" data-cfemail="b1dbdedfdfc8d5d4d7d7f1d6dcd0d8dd9fd2dedc">[nguyenvana@gmail.com]</span>
                    </a>
                  </p>
                </div>

                <div class="col-sm-6 text-right">
                  <span>Bên cho thuê</span>
                  <strong>
                    Nguyễn Thị B
                  </strong>

                  <p>
                    2222 Design Studio<br>
                    Đông Hòa<br>
                    Dĩ An<br>
                    Bình Dương<br>
                    0915.679.346<br>

                    <a href="https://mail.google.com/mail/u/0/#inbox">
                      <span class="__cf_email__" data-cfemail="b6dcc3d7d8d0d3c4f6d1dbd7dfda98d5d9db">[nguyenthib@gmail.com]</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
              
            <div class="line-items">
              <div class="headers clearfix">
                <strong>Thông tin xe</strong>

                <div class="row">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-3"></div>
                  <div class="col-xs-5 text-right"></div>
                </div>
              </div>

              <div class="items">
                <div class="row item">
                  <div class="col-xs-4 desc">
                    Loại xe
                  </div>

                  <div class="col-xs-3 qty">
                  </div>

                  <div class="col-xs-5 amount text-right">
                    Xe số
                  </div>
                </div>
                
                <div class="row item">
                  <div class="col-xs-4 desc">
                  Tên xe
                  </div>

                  <div class="col-xs-3 qty">
                  </div>

                  <div class="col-xs-5 amount text-right">
                  Wave RSX
                  </div>
                </div>

                <div class="row item">
                  <div class="col-xs-4 desc">
                    Hãng xe:
                  </div>
                
                  <div class="col-xs-3 qty">
                  </div>
              
                  <div class="col-xs-5 amount text-right">
                    Honda
                  </div>
                </div>

                <div class="row item">
                  <div class="col-xs-4 desc">
                    Màu xe:
                  </div>
              
                  <div class="col-xs-3 qty">
                  </div>
            
                  <div class="col-xs-5 amount text-right">
                    Đỏ
                  </div>
                </div>

                <div class="row item">
                  <div class="col-xs-4 desc">
                    Dung tích xi lanh
                  </div>
              
                  <div class="col-xs-3 qty">
                  </div>
            
                  <div class="col-xs-5 amount text-right">
                    110cc
                  </div>
                </div>

                <div class="row item">
                  <div class="col-xs-4 desc">
                    Biển số
                  </div>
            
                  <div class="col-xs-3 qty">
                  </div>
          
                  <div class="col-xs-5 amount text-right">
                    43F1-123.45
                  </div>
                </div>

                <div class="row item">
                  <div class="col-xs-4 desc">
                    Đơn giá
                  </div>
          
                  <div class="col-xs-3 qty">
                  </div>
        
                  <div class="col-xs-5 amount text-right">
                    100.000đ/ngày
                  </div>
                </div>

                <div class="row item">
                   <div class="col-xs-4 desc">
                    Tình trạng xe
                  </div>
            
                  <div class="col-xs-3 qty">
                  </div>
          
                  <div class="col-xs-5 amount text-right">
                    100%
                  </div>
                </div>

                <div class="row item">
                  <div class="col-xs-4 desc">
                    Từ ngày
                  </div>
      
                  <div class="col-xs-3 qty">
                  </div>
    
                  <div class="col-xs-5 amount text-right">
                    1/1/2024
                  </div>
                </div>

                 <div class="row item">
                  <div class="col-xs-4 desc">
                    Đến ngày
                  </div>
          
                  <div class="col-xs-3 qty">
                  </div>
        
                  <div class="col-xs-5 amount text-right">
                    30/1/2024
                  </div>
                </div>
              </div>
              
              <div class="total text-right">
                <p class="extra-notes">
                  <strong>Ghi chú</strong>

                  Bên thuê cọc trước 50% giá trị hợp đồng cho bên cho thuê.
                  Phần còn lại sẽ được thanh toán sau khi kết thúc hợp đồng.
                </p>

                <div class="field">
                  Giá thuê <span>3.000.000</span>
                </div>

                <div class="field">
                  Phí hợp đồng <span>300.000</span>
                </div>

                <div class="field">
                  Mã giảm giá <span>4.5%</span>
                </div>

                <div class="field grand-total">
                  Tổng <span>3.151.500</span>
                </div>
              </div>
              
              <div class="print">
                <a href="contractdetail.html">
                  <i class="fa fa-print"></i>
                  In hợp đồng
                </a>
              </div>
            </div>
          </div>

          <div class="footer">
            Copyright © 2024. EzBooking
          </div>
        </div>
      </div>
    </div>
  </div>